@import "src/assets/styles/variables";

.question-four {

  &__etalon-text {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: $gray-900;
    font-weight: 700;
  }

  &__buttons-container {
    & > * {
      margin-bottom: 2rem;
    }
  }
}

