<small>{{ data.type }}</small>
<div class="question-five">
  <ehh-question-directive [directive]="data.directive"></ehh-question-directive>
  <h3
    *ngIf="etalon.text && !etalon.image"
    class="question-five__etalon-text">
    {{ data.etalon_text }}
  </h3>
  <ng-container *ngIf="etalon.image">
    <ehh-illustration-button
      [title]="etalon.text"
      [image]="etalon.image">
    </ehh-illustration-button>
  </ng-container>
  <div class="question-five__buttons-container">
    <div>
      <ehh-button
        icon="mic"
        (click)="startRecording()"
        [fullWidth]="true">
        Salvesta
      </ehh-button>
    </div>
    <div>
      <ehh-button
        icon="sound_3"
        (click)="playRecording()"
        [fullWidth]="true"
        [disabled]="!readyToListenRecording">
        Kuula oma hääldust
      </ehh-button>
    </div>
    <div>
      <ehh-button
        icon="sound_3"
        [fullWidth]="true"
        (click)="compareSound(data.etalon_wav)"
        [disabled]="!readyToCompare">
        Võrdle
      </ehh-button>
    </div>
  </div>
</div>
