<ehh-read-more>
  <ng-container read-more-intro>
    <p>
      Eesti keeles ei ole eraldi helilisi häälikuid <i>g</i>, <i>b</i>, <i>d</i> ja <i>ž</i>, vaid nende tähtedega
      tähistatakse häälikute <i>k</i>, <i>p</i>, <i>t</i> ja <i>š</i> nõrgemaid ja lühemaid variante.
    </p>
  </ng-container>
  <ng-container read-more-content>
    <p>
      <b>Sõna alguses</b> kõlavad häälikud <i>g</i>, <i>b</i>, <i>d</i>, <i>ž</i>, <i>z</i>
      <b>&nbsp;sama moodi</b> nagu <i>k</i>, <i>p</i>, <i>t</i>, <i>š</i>, <i>s</i>.
    </p>
    <p>Isegi kui tähendus on erinev, siis kõla on sarnane. Võrdle!</p>
    <ehh-audio-image-list [audioItems]="imageAudioItems"></ehh-audio-image-list>
    <p>
      <b>Sõna sees</b> või lõpus on <b>erinevus</b> siiski olemas, siis häälduvad
      <i>g</i>, <i>b</i>, <i>d</i> ja <i>ž</i> lühemalt ja nõrgemalt kui <i>k</i>, <i>p</i>, <i>t</i> ja <i>š</i>.
    </p>
    <ehh-audio-image-list [audioItems]="imageAudioItems2"></ehh-audio-image-list>
    <ehh-ellipsis-text>
      <ng-container text-ellipsis-intro>
        Võrdlus teiste keeltega:
      </ng-container>
      <ng-container text-ellipsis-content>
        <p>
          Erinevalt eesti keelest on slaavi keeltes ja inglise keeles <i>g</i>, <i>b</i>, <i>d</i> ja <i>ž</i> <b>&nbsp;helilised</b> häälikud.
        </p>
        <p>
          Inglise, saksa ja vene keeles hääldatakse häälikuid <i>k</i>, <i>p</i>, <i>t</i> <b>&nbsp;tugevamalt</b> kui eesti keeles.
        </p>
      </ng-container>
    </ehh-ellipsis-text>
  </ng-container>
</ehh-read-more>
