$blue-100: #A0DCF8;
$blue-200: #5AABE0;
$blue-300: #3173B8;
$blue-400: #0053B3;
$blue-500: #00377A;

$gray-100: #ECF0F2;
$gray-200: #CCD9E0;
$gray-300: #7D8C9B;
$gray-350: #687887;
$gray-400: #5D606E;
$gray-450: #8996A4;
$gray-900: #3F3F3F;
$gray-1000: #0E1013;

$white: #FFFFFF;

$red-100: #FFB9B9;
$red-400: #EC0138;

$green-100: #A9EBB4;
$green-400: #00892E;

$yellow-100: #FFFFE8;

$purple-100: #DB8DFF;

$body-background: #f0f0f0;

$gray-border: $gray-200;
