@import "colors_variables";

$container-padding: .5rem;
$border-radius: 6px;
$input-border-radius: 3px;
$desktop-button-height: 3rem;
$desktop-font-size: 20px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)
