<div class="card">
  <ng-container #image>
    <div class="card__image-container">
      <img src="/assets/img/green-chameleon.png">
    </div>
  </ng-container>
  <div class="card__content">
    <ng-container #introduction>
      <p class="card__introduction">
        <ng-content select="[introduction]"></ng-content>
      </p>
    </ng-container>
    <ng-container #readMore>
      <button class="card__read-more-button">Loe lisaks</button>
      <ng-content></ng-content>
    </ng-container>
  </div>
</div>
