@import "src/assets/styles/variables";

.card {
  background-color: $white;
  margin-bottom: 16px;
  color: $gray-400;

  &__image-container {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content-container {
    padding: 16px;
  }

  &__introduction {
    margin-bottom: 16px;
  }

  &__read-more-button {
    border: unset;
    background-color: unset;
    color: $gray-350;
    font-weight: 700;
    span {
      padding: 0 4px;
    }
  }
}
