@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.drop-area {
  background-color: $white;
  margin: .25rem .1rem .25rem .25rem;
  border: solid 1px $gray-200;
  border-radius: 50px;
  display: inline-flex;
  width: 8rem;
  justify-content: center;
  line-height: 2.5rem;
  height: 2.5rem;
  color: $gray-400;
  vertical-align: middle;

  &__container {
    width: 8rem;
  }

  &__value {
    display: flex;
    width: 100%;
  }

  &__drag-element {
    width: 100%;
    text-align: center;
  }

  &__placeholder {
    @include drag-item-place-holder;
    border-color: transparent;
  }
}
