<span
  [id]="dropAreaId"
  cdkDropList
  [cdkDropListData]="dropData"
  [cdkDropListConnectedTo]="'optionsList'"
  [cdkDropListEnterPredicate]="limitItem"
  (cdkDropListDropped)="drop($event)"
  class="drop-area">
    <span class="drop-area__value" cdkDrag>
        <span (click)="playAudio(dropData[0].wav)">
            {{ dropData[0]?.text }}
            <ehh-icon *ngIf="dropData[0]?.wav?.length" icon="sound_3"></ehh-icon>
        </span>
        <span class="drop-area__placeholder" *cdkDragPlaceholder></span>
    </span>
</span>
