<div class="home">
  <h3>Hääldusharjutused</h3>
  <ehh-card image="green-chameleon.png">
    <ng-container card-content>
      <ehh-read-more>
        <ng-container read-more-intro>
          Tutvustav tekst, kus võib olla pilte, helifaile, videoid ja lingitavaid sõnu.
          Pikem sissejuhatus avaneb tutvustava teksti lingi kaudu.
        </ng-container>
        <ng-container read-more-content>
          Aenean pharetra dui dolor, sed consequat sapien dictum et. Curabitur feugiat varius massa, ut
          vulputate justo feugiat quis. Sed dictum libero ut interdum feugiat. Nulla facilisi. Nullam blandit,
          justo pulvinar fermentum venenatis, lectus sapien euismod sem, non sodales sapien dolor sit amet diam.
          Donec at feugiat lectus, congue euismod ligula. Suspendisse potenti. Proin interdum risus sed imperdiet
          imperdiet. Maecenas at vulputate eros.
        </ng-container>
      </ehh-read-more>
    </ng-container>
  </ehh-card>
  <ehh-topics-list [topics]="topicsList"></ehh-topics-list>
</div>
