<div class="home">
  <h3>E-hääldusharjutused</h3>
  <ehh-card image="esileht.svg">
    <ng-container card-content>
      <ehh-read-more [readMoreContent]="false">
        <ng-container read-more-intro>
          Ahoi! Oled tulnud Eesti Keele Instituudi e-hääldusharjutuste keskkonda. Siit leiad eesti keele häälduse lihvimiseks mõeldud õpetusi ja
          harjutusi. Soovime Sulle mõnusat harjutamist!
        </ng-container>
      </ehh-read-more>
    </ng-container>
  </ehh-card>
  <ehh-topics-list [topics]="topicsList"></ehh-topics-list>
</div>
