<ehh-read-more>
  <ng-container read-more-intro>
    <div>Vokaalide eristamine sissejuhatus</div>
    <ehh-audio-button title="n" border="true" audioURL="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/Yodel_Sound_Effect.mp3"></ehh-audio-button>
    <p>Eesti keeles saab häälikuid n, s, l ja t/d hääldada lisaks tavapärasele viisile ka peenendusega: n', s', l' ja t'/d'.</p>
    <p>Mõnikord sõltub sellest ka sõna tähendus.</p>
  </ng-container>
  <ng-container read-more-content>
    <ehh-audio-list></ehh-audio-list>
    <p>Enamasti esineb peenendus häälikute i ja j ees.</p>
    <p>Võttis kalli kassi ja pani padjale on kõik i ja j ees esinevad kaashäälikud peenendatud.</p>
    <p>Palatalisatsioon esineb  ka sõnavormides, kus i on sõna lõpust kadunud. Sellistes sõnades on i siiani säilinud. Võrdle!</p>
  </ng-container>
</ehh-read-more>
