<header class="header">
  <div class="header__secondary_logo">
    <a href="https://sonaveeb.ee/" target="_blank">
      <img src="assets/img/sonaveeb_mob.svg" alt="">
    </a>
  </div>
  <div class="header__primary_logo">
    <a href="http://portaal.eki.ee/" target="_blank">
      <img src="assets/img/logo_eki.svg" alt="">
    </a>
  </div>
  <div class="header__menu-button">
    <button (click)="openMenu.emit(true)">
      <img src="assets/img/burger_menu.svg" alt="">
    </button>
  </div>
</header>
