.header {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  padding: 9px;

  & > * {
    flex: 1;
  }

  &__primary_logo {
    display: flex;
    justify-content: center;
  }

  &__menu-button {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    button {
      border: unset;
      height: 100%;
    }
  }
}
