.header {
  display: flex;
  justify-content: space-between;
  & > * {
    flex: 1;
  }
  &__primary_logo {
    display: flex;
    justify-content: center;
  }
  &__menu-button {
    display: flex;
    justify-content: flex-end;
    button {
      border: unset;
    }
  }
}
