@font-face {
  font-family: 'ehh-icons';
  src:
    url('fonts/ehh-icons.ttf?gqmfc4') format('truetype'),
    url('fonts/ehh-icons.woff?gqmfc4') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ehh-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e900";
}
.icon-ellipsis:before {
  content: "\e901";
}
.icon-left:before {
  content: "\e902";
}
.icon-mic:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
.icon-sound:before {
  content: "\e905";
}
.icon-up:before {
  content: "\e906";
}
