<div class="gap-write">
  <div class="gap-write__container" [formGroup]="formGroup">
    <button (click)="playSound()">
      <ehh-icon icon="sound_3"></ehh-icon>
    </button>
    <input
      *ngIf="!dropAreaId"
      type="text"
      [formControlName]="controlName"
      (input)="inputChanged($event)"
      [value]="value"
      placeholder="kirjuta siia">
    <span
      *ngIf="dropAreaId"
      class="gap-write__drag-area"
      [id]="dropAreaId"
      cdkDropList
      [cdkDropListData]="dropData"
      [cdkDropListConnectedTo]="'optionsList'"
      [cdkDropListEnterPredicate]="limitItem"
      (cdkDropListDropped)="drop($event)">
      <span [innerHTML]="dropData[0]?.text" cdkDrag>
        <span class="gap-write__placeholder" *cdkDragPlaceholder></span>
      </span>
    </span>
  </div>
</div>
