<ehh-read-more>
  <ng-container read-more-intro>
    <p>
      Eesti keeles on üheksa täishäälikut ehk vokaali: <i>a, e, i, o, u, õ, ä, ö, ü</i>.
      Täishäälikud on häälikud, mille moodustumisel pääseb õhuvool suust takistuseta välja.
      Oma moodustuskoha järgi jagunevad täishäälikud eespoolseteks ja tagapoolseteks ning madalateks
      ja kõrgeteks (vajuta pildil tähe peale ja kuula). Lisaks eristuvad osa täishäälikuid teineteisest
      huulte asendi poolest: võrdle <i>e</i> ja <i>ö</i> ning <i>i</i> ja <i>ü</i>.
    </p>
    <p>
      <ehh-vocal-trapeze></ehh-vocal-trapeze>
    </p>
    <p>Eespoolsete täishäälikute hääldamisel liigub keel suus ette, tagapoolsete puhul taha.
      Madalate täishäälikute hääldamisel liigub keel suulae suhtes allapoole, kõrgete puhul ülespoole.</p>
  </ng-container>
  <ng-container read-more-content>
    <p>Täishäälikute moodustamise õppevideod (autor SA Innove)</p>
    <ehh-video src="https://www.youtube.com/embed/Uxk7okl25c0"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/WItbVouJGn4"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/sY0jrPR9T6g"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/asRDANa_d-s"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/LvwppoksVNY"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/OQQOQ1042Os"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/FM1rTeoL1-U"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/67WQi8PgnnY"></ehh-video>
    <ehh-video src="https://www.youtube.com/embed/dXQHQFyYGVI"></ehh-video>
  </ng-container>
</ehh-read-more>
