@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.question-directive {
  font-style: italic;
  color: $gray-900;
  @include breakpoint-up(lg) {
    font-size: $desktop-font-size;
    line-height: 28px;
  }
}
