<div
  class="modal"
  [class.modal--no-min-width]="maxWidth?.length"
  [style.maxWidth]="maxWidth">
  <div
    class="modal__container">
    <div class="modal__header">
      <h2 *ngIf="title?.length">{{ title }}</h2>
      <div class="modal__close">
        <button
          *ngIf="closeButton"
          (click)="close()">{{ closeText }}<i class="icon icon-close"></i></button>
      </div>
    </div>
    <div class="modal__body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="modal-background" (click)="close()"></div>
