@import "src/assets/styles/variables";

.exercise-summary {
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;

  &__buttons {
    & > * {
      margin-bottom: 1rem;
    }
  }
}
