@import "src/assets/styles/mixins";

.words-list-container {
  display: flex;
  margin-bottom: 1rem;
  @include child-margin-right(2rem);
}

.text-red {
  color: red;
}

.info {
  width: 95%;
  border:1px solid;
  border-collapse: collapse;

}

table.info td {
  border-left: 1px solid #000;
  padding: 3px;
  table-layout: fixed;
}
table.info td:first-child {
  border-left: none;
}

td.centered {
  text-align: center;
}
