<button
  class="button"
  [type]="type"
  [ngClass]="[variants[variant], sizes[size]]"
  [class.button--full-width]="fullWidth"
  [class.button--selected]="selected"
  [class.button--disabled]="disabled || playingSound"
  [disabled]="disabled || playingSound">
  <span class="button__content" [ngClass]="alignment[contentAlignment]">
    <span class="button__text">
      <ng-content></ng-content>
    </span>
    @if (icon || audioURL?.length) {
      <span class="button__icon">
        @if (!audioURL?.length && icon) {
          <ehh-icon [icon]="icon" [size]="size"></ehh-icon>
        }
        @if (audioURL?.length) {
          <ehh-sound-animation [animation]="animate"></ehh-sound-animation>
        }
      </span>
    }
  </span>
</button>
