@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.button {
  @include button;

  &--small {
    height: 1.5rem;
  }

  &--medium {
    height: 2.5rem;
    @include buttonDesktopSize;
  }

  &--large {
    height: 3rem;
    border-radius: 3rem;
  }

  &--full-width {
    width: 100%;
  }

  &__primary {
    background-color: $blue-400;
    border: solid 1px $blue-400;
    &:disabled {
      border-color: $gray-200;
    }
  }

  &__success {
    background-color: $green-400;
  }

  &__error {
    background-color: $red-400;
  }

  &__plain {
    background-color: unset;
    color: inherit;
    padding: 0;
  }

  &__white {
    @include buttonWhite;
  }

  &__content {
    @include buttonContent;
    &--center {
      justify-content: center;
    }
    &--left {
      justify-content: left;
    }
    &--right {
      justify-content: left;
    }
  }

  &__text {
    &:empty {
      display: none;
    }
  }

  &:disabled, &--disabled {
    @include buttonDisabled
  }
  &--selected {
    @include buttonSelected;
  }

}
