@font-face {
  font-family: "Inter-Regular";
  src: url("Inter-Regular-slnt=0.ttf") format("truetype")
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("Inter-Medium-slnt=0.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("Inter-Bold-slnt=0.ttf") format("truetype");
  font-weight: 700;
}

