@import "src/assets/styles/mixins";

.exercise {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;

    *:first-child {
      flex: 1
    }
    *:last-child {
      flex: 5;
    }
  }

  &__question {
    min-height: 370px;
    margin-bottom: 2.5rem;
  }
}
