@import "src/assets/styles/variables";

.drag-item {
  width: 14rem;

  &__placeholder {
    border: 1.5px dashed $gray-300;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 100%;
    display: inline-flex;
  }
}
