.question-four {
  &__content {
    margin-bottom: 1.5rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__option-item {
    margin-bottom: 1rem;
  }
}
