<small>{{ data.type }}</small>
<div class="question-four">
  <ehh-question-directive [directive]="data.directive"></ehh-question-directive>
  <div class="question-four__content" #textAndGaps>{{ data.etalon_text }}</div>
  <div class="question-four__options">
    <div
      class="question-four__drop-list"
      cdkDropList
      id="optionsList"
      [cdkDropListData]="options"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="dropAreas">
      <div class="question-four__option-item" *ngFor="let item of options">
        <ehh-drag-item
          [title]="item?.text"
          [audioUrl]="item.wav"></ehh-drag-item>
      </div>
    </div>
  </div>
</div>
