@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.question-three {

  &__content {
    margin-bottom: 1.5rem;
    @include breakpoint-up(lg) {
      font-size: $desktop-font-size;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__option {
    width: 100%;
  }

  &__option-item {
    margin-bottom: 1rem;
    height: 2.5rem;
  }

  &__item-container {
    border: 1.5px dashed $gray-300;
    border-radius: 1.25rem;
    height: 2.5rem;
  }
}
