@import "src/assets/styles/variables";

.question-three {
  &__content {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__option {
    width: 100%;
  }

  &__option-item {
    margin-bottom: 1rem;
    height: 2.5rem;
  }

  &__drop-list {

  }

  &__item-container {
    border: 1.5px dashed $gray-300;
    border-radius: 1.25rem;
    height: 2.5rem;
  }
}
