<small>{{ data.type }}</small>
<div class="question-one">

  <h4 [innerHTML]="data.directive"></h4>

  <div class="question-one__etalon" [ngSwitch]="etalonType">
    <ng-container *ngSwitchCase="'image'">
      <ehh-illustration-button
        [image]="data.etalon_img"
        [title]="data.etalon_text"
        [audioURL]="data.etalon_wav"></ehh-illustration-button>
    </ng-container>
    <ng-container *ngSwitchCase="'audio'">
      <ehh-button
        icon="sound_3"
        [fullWidth]="true"
        [audioURL]="data.etalon_wav"
        >{{ data.etalon_text }}</ehh-button>
    </ng-container>
    <ng-container *ngSwitchCase="'text'">
      <div class="question-one__text-etalon">
        <strong>{{ data.etalon_text }}</strong>
      </div>
    </ng-container>
  </div>

  <div [formGroup]="formGroup" class="question-one__options" [ngSwitch]="optionType">
    <div *ngSwitchCase="'image'" class="question-one__images-container">
      <div *ngFor="let option of options" class="question-one__image">
        <div>
          <ehh-radio-button (valueChanged)="handleRadioButtons($event)" [item]="option" formControlName="optionControl">
            <ehh-illustration-button
              [asButton]="false"
              [selectable]="true"
              [selected]="option.selected"
              [audioURL]="option.wav"
              [image]="option.img"
              [title]="option.text"></ehh-illustration-button>
          </ehh-radio-button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'audio'" class="question-one__sounds-container">
      <div *ngFor="let option of options" class="question-one__sound">
        <ehh-button
          [audioURL]="option.wav"
          variant="white"
          icon="sound_3"
          [fullWidth]="true">{{ option.text }}</ehh-button>
      </div>
    </div>
    <div *ngSwitchCase="'text'" class="question-one__texts-container">
      text
    </div>
  </div>
</div>
