@import "src/assets/styles/mixins";
.question-one {

  &__etalon {
    margin-bottom: 1.5rem;
  }

  &__text-etalon {
    text-align: center;
    margin-bottom: .5rem;
    @include breakpoint-up(lg) {
      font-size: $desktop-font-size;
      line-height: 28px;
    }
  }
}

