@import "src/assets/styles/mixins";

.question-one {
  &__etalon {
    margin-bottom: 1.5rem;
  }

  &__options {

  }

  &__text-etalon {
    text-align: center;
    margin-bottom: .5rem;
  }

  &__images-container {
    display: flex;
    flex-wrap: wrap;
    & > *:nth-child(odd) {
      padding-right: .75rem;
    }
  }

  &__sounds-container, &__texts-container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    flex: 1 0 50%;
    &:last-child:nth-child(odd) div {
      width: 50%;
    }
  }

  &__sound {
    width: 80%;
    margin: 0 auto 1rem;
  }
}
