@import "src/assets/styles/variables/colors_variables.scss";
@import "src/assets/styles/mixins";


.illustration-button {
  background-color: transparent;
  border-radius: 20px;
  border: solid 1.5px $gray-border;
  color: $gray-350;
  width: 100%;

  &--active {
    background-color: #eaf7fe;
    border-color: $blue-200;
  }

  &__content {
    display: flex;
    justify-content: center;
    @include child-margin-right();
  }
}
