<div class="topics">
  <ehh-header (openMenu)="toggleMenu($event)"></ehh-header>
  <ehh-topics-back-button [title]="backButton" (click)="goBack()"></ehh-topics-back-button>
  <h3>{{ currentTopic?.ord }}. {{ currentTopic?.title }}</h3>
  <ehh-card>
    <ng-container card-content>
      <ng-container *ngComponentOutlet="topicIntroComponent"></ng-container>
    </ng-container>
  </ehh-card>
  <div #exerciseList>
    <ehh-exercise-list [exercises]="exercises"></ehh-exercise-list>
  </div>
</div>
<ehh-menu
  [opened]="menuOpened"
  (closeMenu)="toggleMenu($event)"
  (openModal)="openModal()"></ehh-menu>
