@import "variables";
@import "mixins";
@import "fonts";

* {
  font-family:"Inter-Regular", serif;
  box-sizing: border-box;
  &:-moz-focusring, &:focus {
    border: 1px solid $blue-300;
    outline: 2px solid $blue-300;
  }
}

body {
  font-size: 16px;
  line-height: 21px;
  color: $gray-900;
  background-color: $body-background;
  max-width: 768px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  @include focus();
}

img {
  max-width: 100%;
  max-height: 100%;
  @include focus();
}

a {
  text-decoration: none;
  color: inherit;
  @include focus();
}

ol {
  padding-left: 0;
  margin-top: 0;
  list-style-position: inside;
}

@import "texts";
@import "icons";
