@import "variables";
@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular-slnt=0.ttf") format("truetype")
}

body {
  font-family:"Inter-Regular", serif;
  font-size: 14px;
  line-height: 21px;
  color: $gray-900;
  background-color: $body-background;
}

i {
  display: inline-block;
}

@import "texts";
@import "icons";
