@import "variables";

@mixin child-flex() {
  & > * {
    flex: 1;
  }
}

@mixin child-padding-right($padding: .5rem) {
  & > *:not(:last-child) {
    padding-right: $padding;
  }
}

@mixin child-margin-right($margin: .5rem) {
  & > *:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin button-unset() {
  background-color: unset;
  border: none;
}


@mixin input-unset() {
  border: none;
}

@mixin drag-item-place-holder() {
  border: 1.5px dashed $gray-300;
  border-radius: 1.25rem;
  height: 2.5rem;
  width: 100%;
  display: inline-flex;
}


@mixin breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin breakpoint-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin button() {
  border: unset;
  padding: 0 .75rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  line-height: 20px;
  color: $white;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  @include child-flex;
  @include child-padding-right;
}

@mixin buttonDesktopSize() {
  @include breakpoint-up(lg) {
    height: $desktop-button-height;
    border-radius: 3rem;
    font-size: $desktop-font-size;
  }
}

@mixin buttonWhite() {
  background-color: $white;
  color: $gray-350;
  border: solid 1px $gray-200;
}

@mixin buttonContent() {
  display: flex;
  align-items: center;
  justify-content: center;
  @include child-padding-right();
}

@mixin buttonDisabled() {
  background-color: $gray-200;
  color: $gray-300;
  pointer-events: none;
  border-color: $gray-200;
}

@mixin buttonSelected() {
  pointer-events: initial;
  background-color: #EAF7FE;
  border: 1px solid $blue-400;
  color: $blue-400;
}

@mixin illustrationButton() {
  background-color: $white;
  border-radius: 20px;
  border: solid 1.5px $gray-border;
  color: $gray-350;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: .75rem .75rem .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include breakpoint-up(lg) {
    font-size: $desktop-font-size;
  }

  img {
    height: 8rem;
    margin-bottom: .3rem;
  }

  &--active {
    background-color: #eaf7fe;
    border-color: $blue-200;
  }

  &__content {
    display: flex;
    justify-content: center;
    @include child-margin-right();
    min-height: 1rem;
  }
  &__title {
    font-size: 1rem;
  }
}
