@import "variables";

@mixin child-flex() {
  & > * {
    flex: 1;
  }
}

@mixin child-padding-right($padding: .5rem) {
  & > *:not(:last-child) {
    padding-right: $padding;
  }
}

@mixin child-margin-right($margin: .5rem) {
  & > *:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin button-unset() {
  background-color: unset;
  border: none;
}


@mixin input-unset() {
  border: none;
}

@mixin drag-item-place-holder() {
  border: 1.5px dashed $gray-300;
  border-radius: 1.25rem;
  height: 2.5rem;
  width: 100%;
  display: inline-flex;
}

@mixin button() {
  border: unset;
  padding: 0 .75rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  line-height: 20px;
  color: $white;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  @include child-flex;
  @include child-padding-right;
}

@mixin buttonWhite() {
  background-color: $white;
  color: $gray-350;
  border: solid 1px $gray-200;
}

@mixin buttonContent() {
  display: flex;
  align-items: center;
  justify-content: center;
  @include child-padding-right();
}

@mixin buttonDisabled() {
  background-color: $gray-200;
  color: $gray-300;
  pointer-events: none;
  border-color: $gray-200;
}

@mixin buttonSelected() {
  pointer-events: initial;
  background-color: #EAF7FE;
  border: 1px solid $blue-400;
  color: $blue-400;
}
