@import "src/assets/styles/variables";

.audio-button {
  background: transparent;
  border-radius: 25px;
  padding: 8px 12px;
  display: inline-flex;
  align-items: flex-start;
  border: 0;
  color: $gray-900;
  font-size: 14px;

  &.active {
    background-color: $gray-200;
  }

  .icon {
    margin-left: 8px;
    color: $gray-450;
  }

  &--border {
    border: 1px solid $gray-border;
  }
}
