@use 'src/assets/styles/variables' as *;

@mixin checkup-answer() {
  border-radius: 20px 20px 0 0;
}

.checkup {
  position: relative;

  &--success {
    @include checkup-answer;
    background-color: #bfe1cb;
    .checkup__feedback {
      color: #006120;
    }
  }

  &--fail {
    @include checkup-answer;
    background-color: #ffdbdf;
    .checkup__feedback {
      color: #cb0130;
    }
  }

  &__feedback {
    text-align: center;
    padding: 14px 0;
    font-weight: bold;
    min-height: 50px;
  }

  &__button-container {
    padding: 0 $container-padding 1rem;
  }
}
