@import "src/assets/styles/mixins";
@import "src/assets/styles/variables/index.scss";

.selection-list {
  
  @include breakpoint-up(lg) {
    padding-top: 150px;
  }

  &--image {
    display: flex;
    flex-wrap: wrap;
    & > *:nth-child(odd) {
      padding-right: .75rem;
    }
  }
  &--other {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &--image {
      flex: 1 0 50%;
      &:last-child:nth-child(odd) .selection-list__item-image {
        width: 50%;
      }
    }
    &--other {
      margin-bottom: 1rem;

      @include breakpoint-up(lg) {
        margin-bottom: 2rem;
      }
    }

  }

}
